	x#tl-container {
		outline-offset: -2px;
		outline: 2px dashed red;
	}
	x#tr-container {
		outline-offset: -2px;
		outline: 2px dashed green;
	}
	x#bl-container {
		outline-offset: -2px;
		outline: 2px dashed blue;
	}
	x#br-container {
		outline-offset: -2px;
		outline: 2px dashed purple;
	}

	html, body, div, span { padding: 0; margin: 0; }
	html, body { 
		font-family: sans-serif; 
		height: 100%; 
		min-height: 300px;
		overflow: hidden; 
		background: #BDACA0;
	}
	textarea, #out {
		font-family: monospace;
		background: #E0D4CB;
		tab-size: 4;
		padding: 4px;
		resize: none;
	}
	.section {
		position:absolute; 
		display:block; 
		left: 0;
		top: 33px;
		bottom: 0;
		border: 2px solid #8F837A;
		border-radius: 4px;
		box-sizing: border-box;
	}
	.label {
		color: dark-brown;
		position:absolute; 
		display:block; 
		top: 5.5px;
		left: 15px;
		white-space: nowrap;
		overflow: hidden;
		right: 10px;
	}
	.right-container .label {
		left: 10px;
	}
	
	.label .tag {
		font-size: 10px;
	}
	
	.container {
		position: absolute;
	}
	#tl-container {
		top: 0;
		left:0;
		height: 60%;
		width: 55%;
	}
	#tr-container {
		top: 0;
		right:0;
		bottom: 132px;
		width: 45%;
	}
	#bl-container {
		bottom: 0;
		left:0;
		height: 40%;	
		width: 55%;
	}
	#br-container {
		bottom: 44px;
		right:0;
		height: 88px;	
		width: 45%;
	}
	.top-container {
	
	}
	#pos-container {
		position:absolute;
		left: 55%;
		top: 60%;
		width: 1px;
		height: 1px;
	}
	#pos-control {
		position:absolute;
		width: 30px;
		height: 30px;
		right: 0;
		top: 0;
		text-align: center;
		cursor: move;
	}
		
	.right-container .section {
		right: 10px;
		left: 5px;
	}
	.bottom-container {
	
	}
	.left-container .section {
		right: 5px;
		left: 10px;	
	}
	
	#out-label {
	}
	#out {
		overflow: auto;
	}
	#in-label {
	}
	#in {
	}
	#context-label {
	}
	#context {
	}
	#xpath-label {
		right: 30px;
	}
	#xpath {
		bottom: 44px;
	}
	
	#buttons {
		position:absolute;
		display:block; 
		bottom: 5px;
		left: 0px;		
		outline-offset: -2px;
		width: 100%;
		text-align: center;
		white-space: nowrap;
	}
	#sig {
		position:absolute;
		display:block; 
		top: 7px;
		right: 10px;
		font-size: 10pt;
	}
	#buttons button, .action {
		-moz-box-shadow: inset 0px 0px 17px 2px #fcf8f2;
		-webkit-box-shadow: inset 0px 0px 17px 2px #fcf8f2;
		box-shadow: inset 0px 0px 17px 2px #fcf8f2;
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BDB09A), color-stop(1, #FFF3DF) );
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #BDB09A), color-stop(1, #FFF3DF) );
		background: -moz-linear-gradient( center top, #BDB09A 5%, #FFF3DF 100% );
		background-color: #BDB09A;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 2px solid #997a43;
		display: inline-block;
		color: #59492d;
		font-family: sans-serif;
		font-size: 15px;
		font-weight: bold;
		padding: 4px 14px;
		text-decoration: none;
	}
	#buttons button:hover, .action:hover {
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFF3DF), color-stop(1, #BDB09A) );
		background: -moz-linear-gradient( center top, #FFF3DF 5%, #BDB09A 100% );
		background-color: #FFF3DF;
	}
	#buttons button:active, .action:active {
		position: relative;
		top: 1px;
	}
	.message-container {
		position: absolute;
		top: 0;
		left: 100%;
	}
	.message-container .message {
		position: absolute;
		left: 20px;
	}
	.message-container .marker {
		white-space: nowrap;
		color: green;
	}
	.message-container .error .marker{
		color: red;
	}
	.message-container .details {
		position: absolute;
		display: none;
		top: 100%;
		padding: 10px;
		border-radius: 8px;
		background: white;
		border: 2px solid #321500; 
		min-width: 200px;
	}
	.message-container:hover .error .details {
		display: block;
		z-index: 500;
	}
	.unexpected-result {
		color: #616;
	}

	.xpath-expression {
		margin-bottom: 2px;
	}
	.xpath-expression label {
		font-weight: bold;
	}
	.xpath-expression label:after {
		content: ":";
	}
	.resultset-type {
		margin-bottom: 6px;
		color: #007;
	}
	.xpath-expression label {
		font-weight: normal;
	}
	.xpath-expression {
		font-size: 120%;
		font-weight: bold;
	}
	.result-list-item {
		margin-top: 2px;
	}
	.result-list-item span {
		color: #666;
	}			
