<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlwaysUpdateImages</key>
	<true/>
	<key>DefaultPageName</key>
	<string>/</string>
	<key>DeploymentCheckLinks</key>
	<false/>
	<key>DeploymentCheckSyntax</key>
	<false/>
	<key>DeploymentContinueAfterErrors</key>
	<false/>
	<key>DeploymentLocation</key>
	<string>sftp://mscalora:@mscalora.com/public_html/sites/xpath</string>
	<key>DeploymentUpdateImages</key>
	<true/>
	<key>DeploymentUpdatePlaceholders</key>
	<false/>
	<key>DontUpdate1x1Images</key>
	<true/>
	<key>InsertEmptyAltAttribute</key>
	<true/>
	<key>LinkAddressingMode</key>
	<string>AlwaysDocumentRelative</string>
	<key>LocalSiteRootLocator</key>
	<dict>
		<key>BookmarkData</key>
		<data>
		Ym9vawQDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAMAIAAAcAAAABAQAATGlicmFyeQAJAAAAAQEAAFdlYlNlcnZlcgAAAAkA
		AAABAQAARG9jdW1lbnRzAAAABQAAAAEBAAB4cGF0aAAAABAAAAABBgAABAAA
		ABQAAAAoAAAAPAAAAAgAAAAEAwAAMSExAAAAAAAIAAAABAMAAFV4NAAAAAAA
		CAAAAAQDAABXeDQAAAAAAAgAAAAEAwAAtMQIAgAAAAAQAAAAAQYAAGQAAAB0
		AAAAhAAAAJQAAAAIAAAAAAQAAEG2ySYkAAAAGAAAAAECAAACAAAAAAAAAA8A
		AAAAAAAAAAAAAAAAAAAHAAAAAQEAAFNTREJvb3QACAAAAAQDAAAAgFi/GwAA
		AAgAAAAABAAAQbWkq3QAAAAkAAAAAQEAADU3MEJBNUIxLTk3MjEtMzcwQS1B
		MkFBLTMzQUQ0MDAzQ0Q5RBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAA
		AAAAAQAAAAEBAAAvAAAAAAAAAAEFAACqAAAAAQIAAGNjMTBiZWQ4NmI2YWQ3
		NmFjZGYxNzEyNmQ5MDQwY2EwZTc3ODg2ZWE7MDAwMDAwMDA7MDAwMDAwMDAw
		MDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMDAw
		MDAwMTswMTAwMDAwMjswMDAwMDAwMDAyMDhjNGI0Oy9saWJyYXJ5L3dlYnNl
		cnZlci9kb2N1bWVudHMveHBhdGgAAACcAAAA/v///wEAAAAAAAAADAAAAAQQ
		AABMAAAAAAAAAAUQAACkAAAAAAAAABAQAADMAAAAAAAAAEAQAAC8AAAAAAAA
		AAIgAABoAQAAAAAAABAgAADsAAAAAAAAABEgAAAcAQAAAAAAABIgAAD8AAAA
		AAAAABMgAAAMAQAAAAAAACAgAABIAQAAAAAAADAgAAB0AQAAAAAAAIDwAAB8
		AQAAAAAAAA==
		</data>
		<key>FileURL</key>
		<string>file:///Library/WebServer/Documents/xpath/</string>
		<key>RelativePath</key>
		<string>./</string>
		<key>TypeID</key>
		<string>_CFileLocator</string>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Name</key>
	<string>xpath-workshop</string>
	<key>NewDocumentCharset</key>
	<string>utf-8</string>
	<key>NewDocumentDOCType</key>
	<string></string>
	<key>NewDocumentGiveBBEditCredit</key>
	<true/>
	<key>NewDocumentInsertDOCType</key>
	<true/>
	<key>NewDocumentInsertXMLDeclaration</key>
	<false/>
	<key>NewDocumentLanguage</key>
	<string>en</string>
	<key>PreviewServerURL</key>
	<string>http://localhost/xpath/</string>
	<key>SitePath</key>
	<string>/home/mscalora/public_html/sites/xpath</string>
	<key>UsePreviewServer</key>
	<true/>
	<key>WebServerURL</key>
	<string>http://sites.scalora.org/xpath/</string>
</dict>
</plist>
